<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript">
function changeAction(radio_url)
{
  var sb_form=document.getElementById("sb_form")
  sb_form.action=radio_url
}
</script>

<title>找便宜</title>

</head>
<body>
<br><br><br>
<center><img src="/static/logo.png" id="logo" width="200" height="70">
<br><br>
<table id="search_list" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td>
<div id="m">
<form name="class_form">
<input id="book" name="meta" value="" checked="checked" type="radio" onClick="changeAction('/findcheaperbook')">
<label for="book">图&nbsp;书</label>
<input id="digital" name="meta" value="" type="radio" onClick="changeAction('/findcheaperdigital')">
<label for="digital">数&nbsp;码</label>
<input id="all" name="meta" value="" type="radio" onClick="changeAction('/findcheaperall')">
<label for="all">所有商品</label>

</form>
</div>
</td>
</tr>
</tbody>
</table>
<table style="margin-left: 15px;" cellpadding="0" cellspacing="0">
<tbody>
<tr valign="top">
<td style="height: 62px; padding-left: 92px;" nowrap="nowrap">
<form name="sb_form" id="sb_form" method="post" action="/findcheaperbook">
<input  name="content" id="content" size="42" maxlength="100" type="text">
<input value="找便宜" id="sb" type="submit">
</form>
</td>
</tr>
</tbody>
</table>
<br><br><br><br>
</p>
<p style="height: 30px;">
Powered by Superway
</p>


</body>
</html>